.detailed__product {
  margin-top: 140px;
  margin-left: 20px;
}

.product__image {
  margin-left: 20px;
  width: 700px;
  height: 450px;
}

.product__detail {
  margin-left: 60px;
  margin-top: 0;
}

.content {
  margin-top: -50px;
  margin-right: 20px;
  margin-left: -40px;
}

.head {
  font-weight: 400;
  letter-spacing: "5px";
}
