.footer {
  bottom: 0;
  position: relative;
  margin-top: 10%;
  min-height: -webkit-calc(100% - 186px);
  min-height: -moz-calc(100% - 186px);
  min-height: calc(100% - 186px);
  min-width: 100%;
  padding: 20px 0;

  background-color: #111;
  background-position: center center;
  min-width: 100%;
  background-size: cover;
  color: #d18a05;
}

.footer-inner {
  width: 80%;
  margin: 0 auto 0 auto;
}

.contact {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin-left: 50px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.links {
  margin-top: 20px;
  margin-left: 65%;
}

.link {
  width: 50px;
  height: 50px;
  color: #d18a05;
  margin-top: 30%;
  margin-right: 10%;
}

.link:hover {
  color: #dac7a4;
}
