.nav-show {
  background-color: #111;
}

.navbar {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-all {
  background-color: #111;
}
.options {
  background-color: #d18a05;
}

.brand {
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 100px;
}

.menuitem {
  font-size: 25px;
  margin-right: 10%;
  color: #a5700c;
  font-family: "'courgette',Playfair Display";
  object-fit: contain;
}

.menuitem:hover {
  color: #d8d4cb;
  text-decoration: underline solid rgb(189, 63, 63);
}

.menu {
  padding: 0%;
  margin-top: 0%;
  margin-left: 40%;
  letter-spacing: 3px;
}
